/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Skip to Content Button */
.skip-to-content {
    position: absolute;
    top: -40px;
    left: 10px;
    padding: 8px;
    background: #007BFF;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: top 0.3s;
}

.skip-to-content:focus {
    top: 10px;
}

/* Header and Navigation */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

#navbar {
    display: none;
    flex-direction: column;
}

#navbar.active {
    display: flex;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Day/Night Mode Button */
.toggle-mode {
    font-size: 1.2em;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
}
